*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
   /*background-image: url(./img/backMenu.jpg);
    background-repeat: no-repeat;
    background-position: center center;*/ 
}

header{
    background-color: white;
    height: 80px;
}

#headerLogo,#headerSuporte{
    width: 15%;
    height: 100%;
    border: 1px solid black;
  }

#headerLogo{float: left;width: 15%;}
#headerSuporte{float: right;width:80px;}

header #headerLogo img{
   height:100px ;
   width:160px;
}

header #headerSuporte img{
    height:80px ;
    width:80px;
    transition: 0.2s;
 }

 header #headerSuporte img:hover{
    height:75px ;
    width:75px;
 }

#mn{
    width: 98%;
    background-color: red;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    
}


#mn div{
    margin: 5px;
}
#opPerfil{
    width: 40%;
    text-align: center;
    background-color: rgba(124, 114, 134, 0.7);
    border-radius: 15px;
}


#funcionalidades{
   display: flex;
   flex-wrap: wrap;
    border: 1px solid black;
}

#funcionalidades div{
    height: 200px;
    width:200px ;
    border: solid black 1px;
}

p{
    margin: 10px;
    width: 85%;
    padding: 3px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

p:hover{color:white;}

#sair{
    border-radius: 10px;
    font-size: px;
    padding: 4px;
    width: 80px;
    margin-top: 5px;
    background-color: rgb(91, 91, 248);
    border-style: none;
}

#sair:hover{ background-color: rgb(46, 46, 248);}

#load {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/carregamento.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
}