<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/cadastro.css">
  <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
  <title>Cadastro</title>
</head>

<body>

  <form id="CadUsuario">
    <h1>Cadastro</h1>
    <input type="text" name="" id="nome" placeholder="Nome Completo"
      oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ ]/g, '');" required> <br>
    <input type="text" name="" id="cpf" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
      placeholder="CPF: 000.000.000.00" required pattern="[0-9]{11}"> <br>
    <input type="date" name="" id="idade" max="2005-12-31" required>
    <br>
    <input type="text" name="" id="endereco" placeholder="Endereço" required><br>
    <input type="password" name="" id="senha" placeholder="Senha" required minlength="7"><br>
    <input type="email" name="" id="email" placeholder="Email" required><br>
    <input type="text" name="" id="telefone" placeholder="Tel: (XX)XXXX-XXXX"
      oninput="this.value = this.value.replace(/[^0-9]/g, '');" pattern="[0-9]{11}"><br>
    <input type="text" name="" id="salarioBase" oninput="this.value = this.value.replace(/[^0-9]/g, '');"
      placeholder="Salario base" required><br>

    <button type="submit" id="cadBtn">Cadastrar</button> <br>
  </form>
  <button id="voltar">Voltar</button>



  <div id="load"></div>
  <script src="../javascript/cadastro.js"></script>

</body>

</html>