<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/comprovantePagamento.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <style>
        body {
            background-image: url(../img/backBoleto.png);
            background-repeat: no-repeat;
            background-position: center;
        }


        @media screen and (min-width:250px) and (max-width:349px) {body {background-image: none;}}
    </style>
    <title>Comprovante</title>
</head>

<body>

    <div id="comprovante">
        <ul id="dadosUsuario"></ul>


        <button id="voltar">Ok</button>
    </div>


    <div id="load"></div>

    <script>



        fetch("http://localhost:8080/pagamento/listar")
            .then(response => response.json())
            .then(data => {
                let dadosUsuario = document.getElementById("dadosUsuario");

                const pg = data[data.length - 1];

                const pagamentoComprovante = pg.pagamento.toLocaleString('pt-BR', {
                    style: 'currency',
                    currency: 'BRL',
                });

                let listItem = document.createElement("li");
                listItem.innerHTML = `<section>
                <p>Operação: ${pg.tipoOperacao}</p>
                <p>Conta: Boleto</p>
                <p>Beneficiário: ${pg.conta}</p>
                <p>Valor: ${pagamentoComprovante}</p>
                </section>
            `;
                dadosUsuario.appendChild(listItem);

            })
            .catch(error => {
                console.error('Erro ao buscar a lista de usuários:', error);
            });


        document.getElementById("voltar").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/menu"
            }, 1000)
        })
    </script>

</body>

</html>