<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/comprovante.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <style>
        body {
                background-image: url(../img/backEmprestimo.png);
                background-repeat: no-repeat;
                background-position: center;
            }
    
    
            @media screen and (min-width:250px) and (max-width:349px) {body {background-image: none;}}
        </style>
    <title>Comprovante</title>
</head>

<body>

    <div id="comprovante">
        <ul id="dadosUsuario"></ul>


        <button id="voltar">Ok</button>
    </div>


    <div id="load"></div>

    <script src="../javascript/comprovanteEmprestimo.js"></script>

</body>

</html>