<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposito</title>
    <link rel="stylesheet" href="/deposito.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <style>
        body {
                background-image: url(../img/backDeposito.jpg);
                background-repeat: no-repeat;
                background-position: center;
            }
    
    
            @media screen and (min-width:250px) and (max-width:349px) {body {background-image: none;}}
        </style>
</head>

<body>
    <div id="deposit">
        <h1>Valor de deposito</h1>
        <form id="depositar">

            <input type="text" name="" id="conta" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta"> <br>

            <input type="text" name="" id="agencia" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Agencia"> <br>

            <input type="text" name="" id="deposito" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Valor de deposito"> <br>

            <button type="submit" id="dep">Confirmar</button>
        </form>
        <button id="voltar">Voltar</button>
    </div>
    <div id="load"></div>

    <div id="confirmSenha">
        <form id="conferS">
            <input type="password" name="" id="cPass" placeholder="Confirmar senha"> <br>
            <button id="cs">Confirmar</button>
        </form>
    </div>


    <script>

        function Depositar() {

            event.preventDefault()

            confirmSenha.style.display = "none"

            let conta = document.getElementById("conta").value
            let agencia = document.getElementById("agencia").value
            let dep = parseFloat(document.getElementById("deposito").value)

            let confSenha = document.getElementById("cPass").value

            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {

                let validaS = { senha: confSenha }

                fetch(`http://localhost:8080/confereSenha?id=${conta}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(validaS)
                })
                    .then(response => {
                        if (response.status == 200) {
                            document.getElementById("conferS").reset();
                            console.log("Senha correta")

                            const valorDeposito = {
                                tipoOperacao: "Deposito",
                                numeroConta: conta,
                                conta: agencia,
                                deposito: dep
                            }
                            fetch(`http://localhost:8080/deposito/cadastrar?codigoSaldo=${conta}
                            &codigoConta=${conta}&agenciaConta=${agencia}`, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                                body: JSON.stringify(valorDeposito)
                            })
                                .then(response => {
                                    if (response.status === 200) {
                                        load.style.display = "none"

                                        setTimeout(function () {
                                            document.getElementById("depositar").reset();

                                            const extrato = {
                                                tipoOperacao: "Deposito",
                                                numeroConta: conta,
                                                conta: agencia,
                                                extrato: dep
                                            }
                                            fetch("http://localhost:8080/extrato/cadastrar", {
                                                method: "POST",
                                                headers: { "Content-Type": "application/json" },
                                                body: JSON.stringify(extrato)
                                            })

                                            window.location.href = "http://localhost:8080/comprovanteDeposito";
                                        }, 100)
                                    } else {
                                        load.style.display = "none"

                                        setTimeout(function () {
                                            alert("Conta inexistente");
                                        }, 100)
                                    }
                                })
                                .catch(error => {
                                    console.error("Erro:", error);
                                });
                        } else {
                            document.getElementById("conferS").reset();
                            load.style.display = "none"
                            document.getElementById("depositar").reset();
                            setTimeout(function () {
                                alert("Senha incorreta")
                            }, 100)
                        }
                    })
            }, 1500)
        }


        document.getElementById("depositar").addEventListener("submit", function () {
            event.preventDefault()
            confirmSenha.style.display = "block"
        })

        document.getElementById("conferS").addEventListener("submit", Depositar)

        document.getElementById("voltar").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/menu"
            }, 1000)
        })

    </script>
</body>

</html>