<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deposito</title>
    <link rel="stylesheet" href="../css/deposito.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <style>
        body {
                background-image: url(../img/backDeposito.jpg);
                background-repeat: no-repeat;
                background-position: center;
            }
    
    
            @media screen and (min-width:250px) and (max-width:349px) {body {background-image: none;}}
        </style>
</head>

<body>
    <div id="deposit">
        <h1>Valor de deposito</h1>
        <form id="depositar">

            <input type="text" name="" id="conta" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta"> <br>

            <input type="text" name="" id="agencia" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Agencia"> <br>

            <input type="text" name="" id="deposito" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Valor de deposito"> <br>

            <button type="submit" id="dep">Confirmar</button>
        </form>
        <button id="voltar">Voltar</button>
    </div>
    <div id="load"></div>

    <div id="confirmSenha">
        <form id="conferS">
            <input type="password" name="" id="cPass" placeholder="Confirmar senha"> <br>
            <button id="cs">Confirmar</button>
        </form>
    </div>


    <script src="../javascript/deposito.js"></script>
</body>

</html>