<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extrato</title>
    <link rel="stylesheet" href="../css/extrato.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

</head>

<body>
    <div id="extrat">

        <ul id="extratos"></ul>

        <button id="voltar">Voltar</button>
    </div>

    <div id="load"></div>

    <script src="../javascript/emprestimo.js"></script>

</body>
</html>