<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <title>Login</title>
</head>

<body>


    <div id="Principal">


        <div id="cadastro">
            <div id="logo"><img src="./img/logoSeng.png" alt="Logo SengBank"></div>
            <form id="formCad">
                <h1>Cadastrar-se</h1>
            </form>
            <button id="cadBtn">Criar Conta</button>
        </div>

        <div id="login">
            <h1>Login</h1>
            <form id="formLogin">
                <div id="cp">
                    <label for="cpf"></label>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="" id="cpf" required placeholder="CPF">

                </div> <br>
                <div id="pass">
                    <i class=" fas fa-user-lock"></i>
                    <label for="senha"></label>
                    <input type="password" name="" id="senha" required placeholder="Senha"> <br>
                </div>
                <button type="submit" id="loginBtn">Entrar</button>
                <div id="cadResponsivo">
                    <p>Não tem uma conta ? cadastre-se</p>
                </div>
            </form>

        </div>


    </div>


    <div id="load"></div>
    <script src="../javascript/login.js"></script>

</body>

</html>