<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <title>Login</title>
</head>

<body>


    <div id="Principal">

        <div id="cadastro">
            <div id="img"></div>
            <form id="formCad">
                <h1>Cadastrar-se</h1>
            </form>
            <button id="cadBtn">Criar Conta</button>
        </div>


        <div id="login">
            <h1>Login</h1>
            <form id="formLogin">
                <div id="cp">
                    <label for="cpf"></label>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="" id="cpf" required placeholder="CPF">

                </div> <br>
                <div id="pass">
                    <i class=" fas fa-user-lock"></i>
                    <label for="senha"></label>
                    <input type="password" name="" id="senha" required placeholder="Senha"> <br>
                </div>
                <button type="submit" id="loginBtn">Entrar</button>
            </form>

        </div>
    </div>


    <div id="load"></div>
    <script>

        function LoginSengBank() {
            event.preventDefault()

            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {

                let cpf = document.getElementById("cpf").value
                let senha = document.getElementById("senha").value

                let obj = {
                    cpf: cpf,
                    senha: senha
                };

                fetch(`http://localhost:8080/login?cpf=${cpf}&senha=${senha}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(obj)
                })
                    .then(response => {
                        if (response.status == 200) {
                            load.style.display = "none"
                            document.getElementById("formLogin").reset();
                            window.location.href = "http://localhost:8080/menu"
                        } else {
                            load.style.display = "none"

                            setTimeout(function () {
                                alert("Conta inexistente")
                                document.getElementById("formLogin").reset();

                            }, 100)
                        }

                    })
            }, 1500)
        }

        document.getElementById("formLogin").addEventListener("submit", LoginSengBank)

        document.getElementById("cadBtn").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/cadastro"
            }, 1500)
        })


    </script>

</body>

</html>