<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="menu.css">
  <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

  <title>Menu</title>
</head>

<body>

  <header>
    <div id="headerLogo"><img src="../img/logoSeng.png" alt="Logo SengBank"></div>
    <div id="headerSuporte"><img src="../img/iconSuporte.jpg" alt="Suporte SengBank"></div>
  </header>

  <div id="mn">

    <div id="opPerfil">
      <h1>Perfil</h1>
      <p class="opcao">Visualizar dados</p>
      <p class="opcao">Alterar senha</p>
      <p class="opcao">Alterar endereço</p>
      <p class="opcao">Alterar email</p>
      <p class="opcao">Alterar telefone</p>
      <p class="opcao">Alterar salario base</p>
      <button id="sair">Sair</button>
    </div>

    <div id="funcionalidades">
      <div id="saldo">
        <figure>
          <img src="../img/saldo.png" alt="Saldo">
          <figcaption>Saldo</figcaption>
        </figure>
      </div>
      
      <div id="deposito">   
        <figure>
          <img src="../img/deposito.png" alt="Saldo">
          <figcaption>Deposito</figcaption>
        </figure>
      </div>
      
      <div id="saque">
        <figure>
        <img src="../img/saque.png" alt="Saldo">
        <figcaption>Saque</figcaption>
      </figure>
    </div>

      <div id="transferencia">
        <figure>
        <img src="../img/transferencia.png" alt="Saldo">
        <figcaption>Transferencia</figcaption>
      </figure>
    </div>

      <div id="pagamento">
        <figure>
        <img src="../img/pagamento.png" alt="Saldo">
        <figcaption>Pagamento</figcaption>
      </figure>
    </div>

      <div id="emprestimo">
        <figure>
        <img src="../img/emprestimo.png" alt="Saldo">
        <figcaption>Emprestimo</figcaption>
      </figure>
    </div>

      <div id="extrato">
        <figure>
        <img src="../img/extrato.png" alt="Saldo">
        <figcaption>Extrato</figcaption>
      </figure>
    </div>

    </div>


  </div>

  <div id="load"></div>
  <script>

    let opcoes = document.getElementsByClassName("opcao")

    opcoes[0].addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/perfil/exibir"
      }, 1000)

    })

    opcoes[1].addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/perfil/senha"
      }, 1000)

    })

    opcoes[2].addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/perfil/endereco"
      }, 1000)

    })

    opcoes[3].addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/perfil/email"
      }, 1000)

    })

    opcoes[4].addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/perfil/telefone"
      }, 1000)

    })

    opcoes[5].addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/perfil/salario"
      }, 1000)

    })

    document.getElementById("saldo").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"


      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/saldo"
      }, 1000)
    })


    document.getElementById("deposito").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"


      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/deposito"
      }, 1000)
    })


    document.getElementById("saque").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"


      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/saque"
      }, 1000)
    })

    document.getElementById("transferencia").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/transferencia"
      }, 1000)
    })

    document.getElementById("pagamento").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/pagamentos/boleto"
      }, 1000)
    })

    document.getElementById("emprestimo").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/emprestimo"
      }, 1000)
    })

    document.getElementById("extrato").addEventListener("click", function () {
      let load = document.getElementById("load")
      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"
        fetch(`http://localhost:8080/extrato/listar`)
          .then(response => response.json())
          .then(data => {
            if (data.length < 1) {
              alert("Não há operações realizadas")
            } else {
              window.location.href = "http://localhost:8080/extrato"
            }
          })
      }, 1000)
    })

    document.getElementById("headerSuporte").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080/suporte"
      }, 1000)
    })


    document.getElementById("sair").addEventListener("click", function () {
      let load = document.getElementById("load")

      load.style.display = "block"

      setTimeout(function () {
        load.style.display = "none"

        window.location.href = "http://localhost:8080"
      }, 2500)
    })




  </script>
</body>

</html>