<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/pagamento.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

    <title>Pagamento</title>
</head>

<body>

    <div id="pagBolet">
        <h1>Pagamento via boleto</h1>
        <form id="boleto">

            <input type="text" name="" id="contaR" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta a realizar pagamento"> <br>
            <input type="text" name="" id="barras" placeholder="codigo de barras" required> <br>
            <input type="text" name="" id="valor" placeholder="valor" required> <br>
            <button type="submit" id="pagBoleto">Confirmar</button>
        </form>
        <button id="voltar">Voltar</button>
    </div>

    <div id="load"></div>

    <div id="confirmSenha">
        <form id="conferS">
            <input type="password" name="" id="cPass" placeholder="Confirmar senha"> <br>
            <button id="cs">Confirmar</button>
        </form>
    </div>
    <script src="../javascript/pagamentoBoleto.js"></script>

</body>

</html>