<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/alteracao.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

    <title>Perfil</title>
</head>

<body>

    <div id="alteracao">

        <form id="altEmail">

            <input type="text" name="" id="contaR" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta para alteração"> <br>
            <input type="email" name="" id="email" required placeholder="Novo email"> <br>

            <button type="submit" id="alt">Alterar</button> <br>
        </form>

        <button id="voltar">Voltar</button>
    </div>


    <div id="load"></div>

    <div id="confirmSenha">
        <form id="conferS">
            <input type="password" name="" id="cPass" placeholder="Confirmar senha"> <br>
            <button id="cs">Confirmar</button>
        </form>
    </div>
    <script src="../javascript/perfilAltemail.js"></script>
</body>

</html>