<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/perfilDados.css">
    <title>Perfil</title>
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

</head>

<body>

    <div id="perfilEx">
        <ul id="dadosUsuario"></ul>


        <button id="voltar">Voltar</button>
    </div>

    <div id="load"></div>

    <script>



        fetch("http://localhost:8080/usuario/listar")
            .then(response => response.json())
            .then(data => {
                let dadosUsuario = document.getElementById("dadosUsuario");

                data.forEach(usuario => {
                    const salarioB = usuario.salarioBase.toLocaleString('pt-BR', {
                        style: 'currency',
                        currency: 'BRL',
                    });

                    let listItem = document.createElement("li");
                    listItem.innerHTML = `<section>
                <p>Conta: ${usuario.codigo}</p>
                <p>Agencia: ${usuario.agencia}</p>
                <p>Usuário: ${usuario.nome}</p>
                <p>CPF: ${usuario.cpf}</p>
                <p>Data de nascimento: ${usuario.nascimento}</p>
                <p>Endereço: ${usuario.endereco}</p>
                <p>Senha: ${usuario.senha}</p>
                <p>Email: ${usuario.email}</p>
                <p>Telefone: ${usuario.telefone}</p>
                <p>Salário base: ${salarioB}</p>
                </section>
            `;
                    dadosUsuario.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Erro ao buscar a lista de usuários:', error);
            });






        document.getElementById("voltar").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/menu"
            }, 1000)
        })
    </script>

</body>

</html>