<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saque</title>
    <link rel="stylesheet" href="/saque.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

</head>

<body>
    <div id="SSaq">
        <h1>Valor de saque</h1>
        <form id="saque">
            <input type="text" name="" id="conta" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta para saque"> <br>

            <input type="text" name="" id="sacar" required placeholder="Valor do saque"> <br>

            <button type="submit" id="saq">Confirmar</button>
        </form>
        <button id="voltar">Voltar</button>
    </div>

    <div id="load"></div>
    <div id="confirmSenha">
        <form id="conferS">
            <input type="password" name="" id="cPass" placeholder="Confirmar senha"> <br>
            <button id="cs">Confirmar</button>
        </form>
    </div>
    
    <script src="../javascript/saque.js"></script>
</body>

</html>