<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/suporte.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
    <title>Suporte</title>
</head>

<body>
    <div id="pgt">

        <h1>Suporte</h1>

        <h2>Logo abaixo estão as perguntas mais frequentes em nosso sistema, esperamos que seu problema seja resolvido o
            mais rapido possivel ! </h2>

        <h2>Caso não encontre ou não fique claro resolução do problema basta contatar nossos canais de atendimentos
        </h2>

        <h3>Whatsapp: (11)95133-1785</h3>
        <h3>Email: ProjetoInter_SengBank@gmail.com</h3>

        <p>Como faço para alterar meus dados ? </p>
        <div class="perguntas">Basta ir até a área de perfil, solicitar alterar dados
            e escolher qual dado deve ser alterado</div>

        <p>Qual meu limite de empréstimo ? </p>
        <div class="perguntas"> O limite máximo de empréstimo não pode ultrapassar o dobro do sálatio base do cliente,
            ou seja, se o sálario base do cliente for
            R$1500,00 reais ele poderá solicitar até R$3000,00 reais de empréstimo</div>

        <p>Como faço para depositar fundos na conta ? </p>
        <div class="perguntas">Basta ir até a área de deposito, selecionar a conta, agencia e o valor desejado para
            deposito.
        </div>

        <p>Quais são os meus custos no SengBank ? </p>
        <div class="perguntas">Os custos no SengBank são apenas para transferências via TED e DOC, sendo via TED de
            R$11,00 reais e DOC R$13,00 reais.
        </div>

        <button id="voltar">Voltar</button>

    </div>
    <div id="load"></div>

    <script>
        document.getElementById("voltar").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/menu"
            }, 1000)
        })    </script>
</body>

</html>