<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/transacaoTransferencia.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

    <title>Transferência</title>
</head>

<body>

    <div id="transf">
        <h1>Transferência via DOC</h1>
        <form id="doc">

            <input type="text" name="" id="contaR" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta a realizar transferencia"> <br>

            <input type="text" name="" id="conta" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Conta"> <br>

            <input type="text" name="" id="agencia" required oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                placeholder="Agencia"> <br>

            <input type="text" name="" id="valor" placeholder="valor"
                oninput="this.value = this.value.replace(/[^0-9]/g, '');" required> <br>

            <button type="submit" id="transfer">Confirmar</button>
        </form>
        <button id="voltar">Voltar</button>
    </div>

    <div id="load"></div>

    <div id="confirmSenha">
        <form id="conferS">
            <input type="password" name="" id="cPass" placeholder="Confirmar senha"> <br>
            <button id="cs">Confirmar</button>
        </form>
    </div>
    
    <script src="../javascript/transferenciaDoc.js"></script>


</body>

</html>