<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transferência</title>
    <link rel="stylesheet" href="../css/opcaoTransferencia.css">
    <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">

</head>

<body>

    <div id="transf">
        <h1>Transferências</h1>
        <p id="ted">Transferência via TED</p>
        <p id="doc">Transferência via DOC</p>
        <p id="pix">Transferência via PIX</p>

        <button id="voltar">Voltar</button>
    </div>

    <div id="load"></div>
    <script>

        document.getElementById("ted").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/transferenciaTed"
            }, 1000)
        })

        document.getElementById("doc").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/transferenciaDoc"
            }, 1000)
        })

        document.getElementById("pix").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/transferenciaPix"
            }, 1000)
        })

        document.getElementById("voltar").addEventListener("click", function () {
            let load = document.getElementById("load")

            load.style.display = "block"

            setTimeout(function () {
                load.style.display = "none"

                window.location.href = "http://localhost:8080/menu"
            }, 1000)
        })

    </script>
</body>

</html>